.App-header {background: #4b367c;}
.App-header h1 {margin: 0; color: #fff;padding: 7px;}

.app-container {width: 900px; margin: 0 auto; }
.profile-detail {padding: 15px 0;}
.profile-detail .image-container { width: 84px; height: 84px; margin: 0 auto; border: 2px solid #dcdcdc; }
.profile-detail .image-container img{border: 5px solid #fff;}
.profile-detail .name {font-size: 32px;}
.profile-detail .counts {font-size: 16px;}
.profile-detail .counts span {margin-right: 30px;}

.spinner { margin-top: 160px; }
.search-button {
  background: transparent;
  border: none;
  position: absolute;
  left: 20px;
  top: 22px;
}
.search-form .custom-input{
  margin-top: 12px;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: none;
  padding-left: 40px;
}
.separator { border-top: 1px solid #dcdcdc; }
.video-section .title {
  font-size: 16px; 
  display: block; 
  padding: 15px 0; 
  text-transform: uppercase; 
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vid-container {padding: 15px 0;}
.vid-container .image-container {width: 320px; margin: 0 auto; position: relative;}
.vid-container .image-container span.views{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
  background: rgba(0,0,0,0.5);
  display: block;
  padding: 0px 7px;
}

.vid-container .image-container span.length{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 13px;
  background: rgba(0,0,0,0.5);
  display: block;
  padding: 0px 7px;
}
.vid-container .image-container span svg { float: left; margin: 2px 5px 0 0;}
.vid-container .desc {margin: 0 auto; width: 320px;}